{% extends "base.html" %}

{% block content %}
  <h1>Lista de eventos</h1>
  {% if meeting_list %}
  <ul>
    {% for meeting in meeting_list %}

      {% if meeting.status == 'p' or 'f' %}
        <li>
          <a href="{{ meeting.id }}"> {{ meeting }}</a> - {{ meeting.date_meeting }} - {{ meeting.author }} - {{ v }}
        </li>
        {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Nenhum evento encontrado.</p>
  {% endif %}

<a href="{% url 'mymeeting_create' %}">Criar</a>

{% endblock %}