{% extends "base.html" %}

{% block content %}
  <h1>{{ meeting.name_meeting }}</h1>

  <p><strong>Nome:</strong> {{ meeting.name_meeting }}</p>

  <p><strong>Data:</strong> {{ meeting.date_meeting }}</p>
  <p><strong>Autor:</strong> {{ meeting.author }}</p>


  <div style="margin-left:20px;margin-top:20px;display=flex">
    <h4>QRCODE</h4>
      <p><strong>Status:</strong>{{ meeting.local }}</p>
      <li>
          <a href="#"> </a>
        <p>DETAIL USER</p>
        <a href="{% url 'mymeeting_update' meeting.id%}">EDITAR</a><br>
        <a href="{% url 'mymeeting_delete' meeting.id%}">EXCLUIR</a>
      </li>

    <a href="">link</a>

  </div>
{% endblock %}