{% extends "base.html" %}

{% block content %}
  <h1>{{ meeting.name_meeting }}</h1>

  <p><strong>Nome:</strong> <a href="">{{ meeting.name_meeting }}</a></p>
    <!-- author detail link not yet defined -->
  <p><strong>Data:</strong> {{ meeting.date_meeting }}</p>
  <p><strong>Autor:</strong> {{ meeting.author }}</p>


  <div style="margin-left:20px;margin-top:20px">


      <h4><strong>Local:</strong> </h4>

        {% if meeting.local == 'o' %}
            <p><strong>Online</strong> </p>
            <a href="{{ meeting.link }}"> {{ meeting.name_meeting }}</a>
        {% else %}
            <p><strong>Presencial</strong> </p>
            <a>Reunião precencial!</a>
        {% endif %}


    {% for list_meeting in meeting_set.all %} {% endfor %}
  </div>
{% endblock %}