<!DOCTYPE html>
  {% load static %}
<html lang="pt-br">
<head>
  {% block title %}<title>Lista de Eventos</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">PITII</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-pressed="true" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-pressed="true" href="{% url 'meeting' %}">Reuniões<span class="sr-only">(current)</span></a>
                    </li>
                </ul>


                    <ul class="nav justify-content-end navbar-nav">
                       {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" aria-pressed="true" href="{% url 'my-meetings' %}">Minhas Reuniões<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " aria-pressed="true" href="{% url 'logout'%}?next={{request.path}}">Logout<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a type="button"class="nav-link">Usuário: {{ user.get_username }}</a>
                        </li>
                        <li class="nav nav-pills">
                            <a type="button"class="btn btn-success" href="{% url 'mymeeting_create' %}">Criar Reunião</a>
                        </li>

                       {% else %}
                            <a type="button" class="btn btn-success" href="{% url 'login'%}?next={{request.path}}">Login<span class="sr-only">(current)</span></a>
                       {% endif %}
                    </ul>

                {% endblock %}

            </div>
        </div>
    </nav>

    <section class="jumbotron text-center">{% block content %}{% endblock %}</section>

</body>

<div class="b-example-divider"></div>

<div class="container ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="{% url 'meeting' %}" class="nav-link px-2 text-muted">Reuniões</a></li>

      <li class="nav-item"><a href="https://www.linkedin.com/in/marco-legiere-61913490/" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Marco Legiere</p>
  </footer>
</div>

</html>